body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/*limiting screensize */
.page-wrapper {
    max-width: 1368px;
    margin: 0 auto;
    overflow-x: hidden;  /*ensures elements that flow over screen are hidden*/
}


.promobanner{
    background-color: #3E0715;
    color: white;
    text-align: center;
    font-size: clamp(0.65rem, 2vw, 0.9rem); /*use percentage for screen size scaling */
    padding: 6px;
    font-weight: bold;

}

.navbar{
    background-color: #921736;
    position:sticky;
    top:0; 
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 15px; 
    color: white;
    flex-wrap: wrap;
    z-index: 1001;
}


.navleft {
    display:flex;
    align-items: center;
    gap: 20px;
}

/* Base image styles */
.menu-img {
  height: 30px;
  width: auto;
}

.QBDlogo img {
  max-height: 50px;
  height: auto;
  width: auto;
}

/* Default: show desktop logo, hide mobile logo & hamburger */
#QBDdlogo {
  display: block;
}

#QBDmlogo,
#hamburgerIcon {
  display: none;
  color: white;
}

/* Responsive for mobile */
@media (max-width: 1000px) {
  #QBDdlogo {
    display: none;
  }

  #QBDmlogo,
  #hamburgerIcon {
    display: block;
  }
}

.hamburger {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  max-width: 390px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
  z-index: 1000;
}

.side-menu.open {
  left: 0;
}

.side-menu button.close-btn {
  font-size: 1.4rem;
  background: none;
  border: none;
  float: right;
  margin: 16px;
  cursor: pointer;
}

.side-menu nav {
  margin-top: 60px;
}

.side-menu a {
  display: block;
  padding: 16px;
  border-bottom: 2px solid #ddd;
  color: #800028;
  text-decoration: none;
  font-weight: normal;
}

.submenu {
  display: none;
  padding-left: 20px;
  background-color: #BBBBBB;
}

.submenu a {
  font-weight:lighter;
  color:#454545;
  font-size: 1.2rem;
}

.dropdown-toggle::after {
  content: '▾';
  float: right;
  transition: transform 0.2s ease;
}

.dropdown-toggle.open::after {
  transform: rotate(180deg);
}

/* navigation links styling*/ 
.navlinks {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1vw;
    font-weight: bold;
}

.navlinks a {
    color: white;
    text-decoration:none;
}


@media (max-width: 1000px) {
  .navlinks {
    display: none !important;
  }
}

/*nav right icons and search bar styling*/
.nav-right {
    display: flex;
    align-items: center;
  }
    
/* Main dropdown container */
.navlinks .dropdown {
  position: relative;
}

/* Dropdown trigger */
.dropbtn {
  cursor: pointer;
  color: white;
  padding: 10px;
}

/* Mega dropdown hidden by default */
.mega-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #921736;
  color: white;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.365);
  z-index: 1000;
  min-width: 700px;
}

/* Show on hover */
.dropdown:hover .mega-dropdown {
  display: grid;
}

/* Column layout */
.dropdown-column h4 {
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.dropdown-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-column ul li {
  padding: 5px 0;
  color: white;
  cursor: pointer;
}

.dropdown-column ul li:hover {
  text-decoration: underline;
}

  .nav-icons img {
    height: 30px;
    width: 35px;
    object-fit: contain;
    cursor: pointer;
  }  

   .nav-icons img:hover{
  background-color: 3E0715;
}


  .search-cart {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .search-cart input {
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
 .search-input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
  }

 /* Hiding and revealing search bar depending on screen size*/
#search-input {
  display: block;
  margin-right: 15px;
}

#search {
  display: none;
  height: 40px; 
  width: auto; 
}

/* Responsive for mobile */
@media (max-width: 600px) {
  #search-input{
    display: none;
  }

 #search {
    display: block;
  }
}

.breadcrumb {
  background-color: #8a1538;
  color: white;
  padding: 0.75rem 1rem;
  font-size: clamp(1.2rem, 3vw, 2.3rem);
  font-weight: bold;
  position: relative;
  height:100px
}

/* Main Container */

.my-cart {
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 2em;
  margin-top: -50px; /* ← remove overlap */
  position: relative;
  height: 1000px;
  z-index: 2;
}


@media (max-width: 600px) {
    .my-cart {
  height: 1800px;
}
}


.cart-content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 2rem;
  background-color: #ffffff;
  padding: 40px 40px 20px 40px;
  border-radius: 2em;
  position: relative;
  z-index: 2;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 600px) {
    .cart-content {
  padding: 20px 10px;
}
}


h1 {
  color: #990f32;
  margin-bottom: 20px;
}

.cart-content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.cart-items {
  flex: 2;
  max-width: 850px;
  min-width: 200px;
  margin-bottom: 50px;
}

.cart-items h2 {
  color: #990f32;
  margin-bottom: 20px;
  margin-top: 0px;
}

@media (max-width: 768px) {

  .cart-items h2{
    margin-left: 10px;
  }
}

.item {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: clamp(0.7rem,3vw,0.9rem);
}

.item img {
  width: 5rem;
  height: auto;
  border-radius: 6px;
  margin-right: 20px;
  margin-left: 20px;
}

.details {
  flex: 1;
}

.checkbox {
    accent-color: #8a1538;
}

.details h3 {
  margin: 0;
  font-size: 1.25em;
  font-weight: bold;
}

.details p {
  margin: 4px 0;
  font-size: 0.95em;
}

.author {
  color: #222;
  font-weight: 500;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 0.95em;
  margin-right: 8px;
}

.price {
  font-weight: bold;
  font-size: 1.2em;
  color: #000;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}


.pricing {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 16px;
  margin-top: auto;
  padding-top: 40px; /* optional: adds some space between author and pricing */
}

.price-info {
    display: flex;
    flex-direction: column;
}

.qty-label {
  font-size: 0.7em;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 0.5px;

}

.qty {
  display: inline-flex;
  align-items: center;
  background: #f1f1f1;
  padding: 6px 10px;
  border-radius: 8px;
}

.qty button {
  padding: 5px 12px;
  border: none;
  background: transparent;
  font-size: 0.9em;
  cursor: pointer;
  color: #333;
}

.qty span {
  margin: 0 10px;
  font-weight: bold;
  min-width: 10px;
  text-align: center;
  display: inline-block;
}

.delete {
  font-size: 20px;
  cursor: pointer;
  color: #666;
  margin-left: 15px;
  position: absolute;
  top: 18px;
  right: 18px;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-actions button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 5px;
}

.summary-wrapper {
  display: flex;
  flex-direction: column;
  max-width:350px;
  flex: 1;
  justify-content: space-between;
}


.summary {
  flex: 1;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  min-height: 600px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-size: 1.6em;
}

.summary p {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.total {
  font-weight: bold;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-size: 1.5em;
}

.gst {
  font-size: 0.9em;
  color: #666;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.summary input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.summary h4{
  color:#656565;
}

.summary .apply{
  width: 40%;
  padding: 12px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid grey;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}


.summary .checkout {
  width: 100%;
  padding: 12px;
  background: #990033;
  color: white;
  border: none;
  margin: 10px auto 0 auto;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-id {
  font-size: 0.85em;
  color: #777;
  text-align: left;
  margin-top: 10px;
}

.spacer {
  border-bottom: 1px solid #ddd;
    height: 10rem; 
}

.spacer1 {
    height: 60%; 
}

.shipping-note {
  font-size: 0.95em;
  color: #555;
  padding: 20px;
  text-align: left;
  max-width: 900px;
  line-height: 1.4;
}

.search-catalogue{
  margin-left: 30px;
  color: #921736;
  font-size: clamp(0.8rem, 3vw, 1.3rem);
  
}

.search-wrapper {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 999px;
  max-width: 550px;
  padding: 2px 20px;
  gap: 12px;
  font-size: clamp(0.8rem, 3vw, 1.3rem);
}

.search-wrapper input {
  border: none;
  outline: none;
  padding: 14px 18px;
  font-size: 1.1rem;
  flex: 1;
  border-radius: 999px;
}

.search-icon {
  font-size: 1.4rem;
}

/* Responsive Design */
@media (max-width: 768px) {

  .search-catalogue{
    display: block;
    margin: 1rem auto;
    text-align: center;
  }
}


/*footer*/
footer {
  font-family: sans-serif;
  color: #444;
  position:relative;
  z-index: 10;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #f9f9f9;
  flex-wrap: wrap;
  margin-top: -30px;
}

@media (max-width: 854px) {

  .footer-main{
    margin-top: -140px;
  }
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 30px;
}

.footer-column h4 {
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
}

.footer-column p {
  margin: 6px 0;
  color: #666;
  font-size: 14px;
}

.social-icons img{
  width: 100px;
  height: auto;
}

.footer-payments img {
  width: 100px;
  height: auto;
}

.footer-bottom {
  background-color: #8a1538; /* QBD maroon */
  color: #fff;
  padding: 20px 40px;
  font-size: 13px;
  line-height: 1.6;
}


@media (max-width: 600px) {
  .item {
    align-items: flex-start;
    padding: 16px;
  }

  .item img {
    margin: 0 auto 10px;
    width: 80%;
  }

  .details {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  .pricing {
    width: 100%;
    justify-content: right;
    align-items: right;
    padding-top: 0;
    flex-wrap: wrap;
    gap:0px;
  }

  .price-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .qty {
    margin-top: 10px;
    width: 70%;
    justify-content: space-between;
    padding: 10px;
  }

  .qty-label {
    display:none;
  }

  .delete {
    position: absolute;
    top: 14px;
    right: 14px;
    margin: 0;
  }

  .cart-actions {
    flex-direction: column;
    gap: 10px;
  }

  .cart-actions button {
    width: 100%;
  }

  .summary-wrapper {
    width: 100%;
  }

  .summary {
    padding: 20px;
    border-radius: 16px;
  }

  .summary .apply{
    width:50%;
  }
  .summary .checkout {
    width: 100%;
  }

  .breadcrumb {
    font-size: 2rem;
    height: auto;
    padding: 1rem;
    height:80px;
  }

  .cart-id {
    text-align: center;
    margin-top: 20px;
  }

  .spacer{
    height:3rem;
  }
}


